@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;700&display=swap');

.btn-secondary {
    color: white;
}

.dropdown-item {

    &:hover {
        background-color: $primary;
        color: white;
    }
}


.top-bar {

    background-color: $primary;

    p {
        color: white;
        margin: 0;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $deep-black;
    font-family: 'Poppins', sans-serif;

    &:hover {
        color: $secondary;
    }
}
.nav-link.active {
    color: $secondary !important;
}

.footer {
    background: linear-gradient(180deg, white 30%, $primary 30%);

    .cta {
        background-color: $secondary;
        border-radius: 10px;
    }

    h5 span {
        font-weight: 100;
        display: block;
    }

    .nav-link {
        color: white;
        padding: .5rem 0;

        &:hover {
            color: $secondary;
        }
    }

    p {
        color: white;
    }
}



/*
* Helpers 
*/

.call-icon {
    background-color: $primary;
    padding: 10px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
}