// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 700;

$deep-blue: #033D73;
$mid-blue: #11B8EC;
$light-blue: #E6F8FD;
$deep-black: #0A0A0A; 

$deep-grey: #727272;
$mid-grey: #C7C7C7;

$primary: $deep-blue;
$secondary: $mid-blue;