@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;700&display=swap');

.btn-secondary {
    color: white;
}

.top-bar {

    background-color: $primary;

    p {
        color: white;
        margin: 0;
    }
}