@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;700&display=swap');

.btn-secondary {
    color: white;
}

.dropdown-item {

    &:hover {
        background-color: $primary;
        color: white;
    }
}


.top-bar {

    background-color: $primary;

    p {
        color: white;
        margin: 0;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $deep-black;
    font-family: 'Poppins', sans-serif;

    &:hover {
        color: $secondary;
    }
}
.nav-link.active {
    color: $secondary !important;
}